<section class="match-impro-messages">
  <h2>Messages en temps réel</h2>

  <table>
    <thead>
      <tr>
        <th scope="col">broadcastedAt</th>
        <th scope="col">receivedAt</th>
        <th scope="col">content</th>
      </tr>
    </thead>
@if (messages$ | async; as messages) {
  @if (messages.length > 0) {
    @let lastMessage = messages[messages.length - 1];
    <tbody>
      <tr>
        <td>{{ lastMessage.broadcastedAt | date:'HH:mm:ss' }}</td>
        <td>{{ lastMessage.receivedAt | date:'HH:mm:ss' }}</td>
        <td>{{ lastMessage.content }}</td>
      </tr>
    </tbody>
  }
}
  </table>
</section>
