<article class="show-card" [class.show-card--compact]="variant() === 'compact'">
  <div class="show-card__date">
    <span class="show-card__day">{{ show().startAt | date: 'd' }}</span>
    <span class="show-card__month">{{ show().startAt | date: 'MMM' }}</span>
  </div>

  <div class="show-card__content">
    <h3 class="show-card__title">
      <!--      <a class="show-card__link" target="_blank" rel="noreferrer" [href]="show().url">-->
      {{ show().title }}
      <!--      </a>-->
    </h3>

    <div class="show-card__venue">
      <a class="show-card__venue-link" target="_blank" rel="noreferrer"
         [href]="show().venue.url">{{ show().venue.name }}</a>
      — {{ show().startAt | date: 'HH:mm' }}
    </div>

    @if (variant() === 'default') {
      <p class="show-card__description">
        {{ show().description }}
      </p>
    }
  </div>
</article>
