<article id="show-card__{{ show().id }}{{ variant() === 'compact' ? '--compact' : ''}}"
         class="show-card"
         [class.show-card--compact]="variant() === 'compact'">

  @if (variant() === 'compact') {
    <a class="show-card__link" [href]="'#show-card__' + show().id"></a>
  }
  <!--      <a class="show-card__link" target="_blank" rel="noopener noreferrer" [href]="show().url"></a>-->

  <div class="show-card__date">
    <span class="show-card__day">{{ show().startAt | date: 'd' }}</span>
    <span class="show-card__month">{{ show().startAt | date: 'MMM' }}</span>
  </div>

  <div class="show-card__content">
    <h3 class="show-card__title">
      {{ show().title }}
      — {{ show().startAt | date: 'HH:mm' }}
    </h3>

    <div class="show-card__venue">
      <a class="show-card__venue-link" target="_blank" rel="noreferrer"
         [href]="show().venue.url">{{ show().venue.name }}</a>
    </div>

    @if (variant() === 'default') {
      <p class="show-card__description">
        {{ show().description }}
      </p>
    }
  </div>
</article>
